.caousel__dondecomprar img {
    max-height: 500rem;
}

.contenido__index a {
    max-height: 500rem;
    max-width: 500rem;
}


/*pagina info*/

.section__contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.section__contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
}